[Unit]
After=norns-jack.service
Requires=norns-jack.service

[Service]
Type=simple
User=root
LimitRTPRIO=95
LimitMEMLOCK=infinity
ExecStart=/bin/crone
