[Unit]
After=norns-jack.service
Requires=norns-jack.service

[Service]
Type=simple
User=root
LimitRTPRIO=95
LimitMEMLOCK=infinity
ExecStart=/bin/ws-wrapper ws://*:5556 /usr/bin/sclang -i maiden
